/* COMMON */

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li, 
a{
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
}

img{
    width: 100%;
}

h1,
h2,
h3,
h4,
ul{
    text-transform: uppercase;
    color: white;
}

/* HEADER */

/* Common in header */
header{
    height: 100px;
    text-transform: uppercase;
    color: white;
    background-color: #2c3e50;
}

.header_wrapper{
    display: flex;
    align-items: center;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}


/* Modifiche alle varie sezioni dell'header*/
.burger_menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.burger_borders{
    padding: 8px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid white;
}

.fa-bars{
    color: #838485;
    
    transform: scaleX(1.5);
}

.header_menu{
    justify-content: center;
} /* Il display flex verrà già dato in automatico una volta superati i 768px */


/* MAIN */

/* Jumbotron */
.jumbotron_wrapper{
    background-color: #1abc9c;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    padding: 40px 0;
}

.avatar_container{
    width: 300px;
}

.fa-star{
    color: white;
    font-size: 30px;
}

.left_line{
    padding-left: 36px;
    padding-right: 0;
}

.right_line{
    padding-left: 0;
    padding-right: 36px;
}

.fake_line_wrapper{
    display: flex;
    align-items: center;
}

.star_row_wrapper{
    display: flex;
}

.fake_line{
    height: 4px;
    border-radius: 5px;
    background-color: white;
}

.star_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.star_line_container{
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px){
    h1{
        font-size: 60px;
    }   
}

@media screen and (min-width: 992px) {
    .stop_growing{
        max-width: 800px;
    } 
}
/* TEST */
/* div:not(.burger_borders){
    border: 1px solid white;
}   */