/* COMMON */

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li, 
a{
    display: inline-block;
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: white;
}

img{
    width: 100%;
}

h1,
h3,
h4,
ul{
    text-transform: uppercase;
    color: white;
}

h3{
    margin-bottom: 0;
}

@media screen  and (min-width: 768px){
    .h3,
    a{
        line-height: 100px;  
    } 
    
    h3{
        margin-bottom: .25rem;
    }/* Per farlo stare in linea con il burger menù e poi tornare in linea con la ul sopra i 768px */
}

h2{
    color: black;
    text-transform: uppercase;
    text-align: center;
}

/* HEADER */

/* Common in header */
header{
    height: 100px;
    text-transform: uppercase;
    color: white;
    background-color: #2c3e50;
}

.header_wrapper{
    display: flex;
    align-items: center;
}

header ul{
    display: flex;
    align-items: center;
    gap: 35px;
}


/* Modifiche alle varie sezioni dell'header*/
.burger_menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.burger_borders{
    padding: 8px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid white;
}

.fa-bars{
    color: #838485;
    
    transform: scaleX(1.5);
}

.header_menu{
    justify-content: center;
} /* Il display flex verrà già dato in automatico una volta superati i 768px */


/* MAIN */

/* Jumbotron */
.jumbotron_wrapper{
    background-color: #1abc9c;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    padding: 40px 0;
}

.avatar_container{
    width: 300px;
}

.fa-star{
    font-size: 30px;
}

.white_star{
    color: white;
}

.left_line{
    padding-left: 36px;
    padding-right: 0;
}

.right_line{
    padding-left: 0;
    padding-right: 36px;
}

.fake_line_wrapper{
    display: flex;
    align-items: center;
}

.fake_line{
    height: 4px;
    border-radius: 5px;
}

.white_line{
    background-color: white;
}

.star_container{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 768px){
    h1{
        font-size: 60px;
    }   

    h2{
        font-size: 50px;
    }
    
}

 @media screen and (min-width: 992px) {
    .stop_growing{
        max-width: 850px;
    } 
} 

/* Portfolio */
.portfolio_wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    gap: 30px;
}

.black_star{
    color: black;
}

.black_line{
    background-color: black;
}

.bigger_img_wrapper img{
    border-radius: 10px;
}

/* About */
.about_wrapper{
    background-color: #1abc9c;
}

.about_title h2{
    color: white;
}

.paragraph,
.download_wrapper span,
.send_wrapper span{
    color: white;
    font-size: 20px;
}

.border_wrapper{
    gap: 3px;
    border: 1px solid white;
    border-radius: 5px;
    color: white; 
}

.about_content,
.contact_content{
    width: 50%;
}

@media screen and (min-width: 768px){
    .about_content,
    .contact_content{
        width: 75%;
    }
}

/* Contact */
.contact_row_wrapper{
    font-size: 20px;
}

.contact_row_wrapper:not(.no_border){
    border-bottom: 1px solid grey;
}

.fa-grip-lines{
    transform: rotate(330deg);
}

.big_margin{
    margin-top: 130px;
}

.green_button{
    background-color: #1abc9c;
}

@media  screen and (min-width: 992px){
    .padding_fix{
        padding-left: 3rem;
    }

    
    .stop_growing_2{
         max-width: 600px;
    } 
    
    
}

/* Location */
.location_wrapper{
    background-color: #3a546d;
}

.location_content{
    width: 90%;
}

.location_text{
    text-align: center;
    margin-top: 70px;
    color: white;
    font-size: 23px;
}

.location_icons_wrapper{
    
    width: 50px;
    height: 50px;
    
}

.location_icons_box{
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.no_padding{
    padding: 0;
}

.no_grow{
    width: 400px;
    margin: auto;
}

.gap_fix{
    gap: 10px;
}


@media  screen and (min-width: 768px) {
    .no_grow{
        width: 280px;
        margin: 0;
    }

    .gap_fix{
        gap: 0;
    }
}


.green_location_text{
    color: #1bb89a;
}


/* TEST */
/* div:not(.burger_borders){
    border: 1px solid white;
}   */

/* .row{
    border: 1px solid black;
} */
